*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(15, 81, 102, 0.459);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
}
.container{
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    height: 450px;
    width: 350px;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;

}
h1{
    text-align: center;
    color: #065b9c;
    margin-bottom: 10px;

}
input{
    background-color: #065b9c4a;
    border-radius: 5px;
    border: none;
    height: 30px;
    font-size: 15px;
    color: #05416f;
    margin: 5px 0;
}
label{
    margin: 0 5px;
    color: #05416f;

}
#calculate{
    background-color: #065b9c;
    border: none;
    border-radius: 5px;
    height: 30px;
    margin-top: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}
#calculate:hover{
    background-color: #02355d;
    cursor: pointer;
}
#res{
    /* background-color: ; */
    margin-top: 15px;
    color: #05416f;

}
#res p{
    font-size: 15px;
    color: #065b9c;
    margin-top: 10px;
    margin-left: 20px;
}