html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-size: cover;
    font-family: sans-serif;
}

#bookContainer {
    max-width: 350px;
    text-align: center;
    padding: 30px 30px 12px 30px;
    color: #fff;
    background-color: #7766d7;
    border: 4px solid #9387f2;
    border-radius: 5px;
  }
  #bookContainer h1 {
    margin: 0 0 15px 0;
    text-transform: uppercase;
  }
  #bookContainer img {
    max-width: 300px;
    border: 6px solid #fff;
    border-radius: 150px;
  }
  #bookContainer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #bookContainer li {
    padding: 15px 0;
    font-size: 18px;
  }